* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
  }
  
body {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
.SocialBar {
    display: flex;
    flex-direction: row;
    height: 36px;
    justify-content: flex-end;
    align-items: center;
    background-color: #0f0f11;
    color: antiquewhite;
    list-style: none;
    width: 100%;
   }

.SocialBar li {
    margin: 6px;
    font-size: 10px;
    cursor: pointer;
  }
  
.socialIcon {
    height: 12px;
    width: 12px;
  }
  
.navSmall {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 62px;
    position: fixed;
    top: 0;
    z-index: 7;
  }
  
.navbtn {
    display: block;
    height: 36px;
    width: 36px;
    cursor: pointer;
    background-color: transparent;
    margin: 20px;
  }
  
.navSmall img {
    margin: 20px;
  }
  
.bar1,
.bar2,
.bar3 {
    height: 4px;
    width: 34px;
    background-color: orangered;
    margin: 6px auto;
    transition: all 0.4s ease;
  }
  
.toggleAll .bar2 {
    display: none;
  }
  
.toggleAll .bar1 {
    background-color: red;
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  
.toggleAll .bar3 {
    background-color: red;
    transform: rotate(45deg) translate(1px, -1px);
  }
  
.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  
.Navlink,
  .toggleMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: auto;
    transition: width 0.5s linear;
  }
  
.Navlink li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 12px;
    cursor: pointer;
  }

.homepage {
    color: rgb(30, 240, 229);
  }*/


.logo {
    height: 40px;
    width: 40px;
    margin: 12px;
  }
  
.Hamburger {
    display: none;
    height: 20px;
    width: 20px;
  }
  
.firsthead {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-image: url("./image/big.png");
    background-size: contain;
    background-position: center;
    background-color: whitesmoke;
    width: 100%;
    height: 700px;
    padding: 180px 30px 30px 70px;
  }
  
.Aboutfirsthead {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: center;
    width: 100%;
    background-color:whitesmoke;
    text-align: center;
    padding: 10px 150px;
  }
  
.firsthead {
    color: #2e3033;
    border: white 4px solid;
    width: fit-content;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 10px;
  }

.firsthead h1 {
    color: orangered;
    font-weight: bolder;
    text-align: left;
    font-size: 40px;
   
  }

.firsthead h2 {
    color: orangered;
    text-align: left;
    text-decoration: underline;
  }

.secondhead h5 {
    color: black;
    text-align: left;
      } 
  
.goals {
    color: 2e3033;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 60px;
  }
  
.aboutintext {
    color: black;
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
    align-items: right;
  }

.secondhead {
   /* background-color: white; */
    color: #2e3033;
    padding: 15px;
  }
  
.program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/image/back.svg); 
    background-size: contain;
    width: 100%;
    height: 450px;
    padding: 20px 30px;
    list-style: none;
    color: white;
  }
  
.logo2 img {
    height: 150px;
    width: 200px;
    margin: 20px;
    border: 1px solid black;
  }
  
.Aboutprogram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    width: 100%;
    height: fit-content;
    padding: 20px 150px;
    list-style: none;
    color: #0f0f11;
    text-align: center;
  }
  
.All-Programs {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    gap: 3px;
    margin: 30px auto;
    height: fit-content;
    }
  
.grid-item1 {
    height: 150px;
    width: 150px;
    border: 1px solid white;
  }
  
.grid-item1:hover {
    background-color: grey;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
  }
  
.grid-item1 h3 {
    color: orangered;
  }
  
.line {
    height: 4px;
    width: 120px;
    border-radius: 6px;
    border: none;
    background-color: rgb(255, 111, 0);
    margin-top: 12px;
  }
  
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    font-size: 14px;
    background-color: rgba(235, 229, 229, 0.341);
  }
  
.AboutImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 550px;
    list-style: none;
    margin: 70px;
  }
  
.be4 {
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  
.be4::before {
    content: "";
    background: url("./image/checkers.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
    height: 80px;
    width: 80px;
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: -1;
  }
  
.Aboutbe4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 20px 30px;
    list-style: none;
    position: relative;
  }
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(255, 166, 0, 0.646);
  }
  
.Aboutbe4:hover .overlay {
    opacity: 1;
  }
  
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
.Speaker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    height: fit-content;
    width: 100%;
    font-size: 12px;
    list-style: none;
    justify-content: center;
  }
  
.Speaker li {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
  }
  
.Speaker li img {
    margin: 10px;
    height: 120px;
    width: 180px;
  }
  
.Speaker li h5 {
    font-style: italic;
    color: orangered;
    margin: 8px 0;
    position: relative;
  }
  
.Speaker li h5::before {
    content: "";
    height: 2px;
    width: 20px;
    background-color: #0f0f11;
    position: absolute;
    font-weight: bolder;
    top: 14px;
  }
  
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272a31;
    color: white;
    font-size: 12px;
    width: 100%;
    height: 150px;
  }
  
.topfoot {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: #272a31;
    height: 220px;
    }

.topfoot h2 {
    position: relative;
  }
  
.topfoot h2::after {
    content: "";
    height: 2px;
    width: 34px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    top: 30px;
    left: calc(50% - 17px);
  }
  
.topfoot ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
.topfoot li img {
    margin: 10px 24px;
    height: 20px;
    width: 60px;
  }
  
@media only screen and (max-width: 768px) {
    .Hamburger {
      display: inline-block;
      height: 20px;
      width: 20px;
    }
  
.firsthead {
      padding-bottom: 0px;
    }

.firsthead h1 {
      font-size: 30px;
     }
       
.program {
      height: 930px;
    }
  
.logo {
      display: none;
    }
  
.SocialBar {
      display: none;
    }
  
.navSmall {
      display: flex;
    }
  
.All-Programs {
      grid-auto-flow: row;
      height: 900px;
      overflow-y: hidden;
    }
  
.Aboutprogram p {
      height: 600px;
      overflow-y: hidden;

    }

.Speaker {
      grid-template-columns: 1fr;
    }
  
.NavBar {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 0;
      background-color: #272a31;
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      transition: width 0.5s ease;
      overflow-x: hidden;
      z-index: 5;
    }
  
.Navlink {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 74px;
      width: 100%;
      font-weight: bolder;
      font-size: larger;
    }
  
.Navlink li {
      justify-content: left;
      border-bottom: 1px solid orangered;
      padding-bottom: 12px;
      width: 80%;
      margin: 10px auto;
    }
  
.Navlink li:last-child {
      color: orangered;
    }
  
.toggleMenu {
      width: 100%;
      overflow-x: hidden;
    }
  }

  